<component name="libraryTable">
  <library name="app">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/out/artifacts/DiceGame/bundles/DiceGame/app/jfoenix-8.0.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/out/artifacts/DiceGame/bundles/DiceGame/app/DiceGame.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>